<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccc265f3-b161-46f8-98e5-f9925379297f" Alias="Root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Root</Path>
    <Trashed>false</Trashed>
    <ContentType>defaultPage</ContentType>
    <CreateDate>2024-03-13T14:28:49</CreateDate>
    <NodeName Default="Root" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1a2a3851-87d4-4077-863e-2be5fe93e49c">DefaultPage</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/20fdf94c5f6748d7baebcf2a9f387c51",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/25cfce5f6b3c4a19938577d9fe691d79",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "38ab4bc1-1a58-4e8a-8b6d-f084c8d909fb",
      "udi": "umb://element/20fdf94c5f6748d7baebcf2a9f387c51",
      "headline": "Blazoraco"
    },
    {
      "contentTypeKey": "f0417dc6-b1ac-47fc-981a-a911fc2ba39d",
      "udi": "umb://element/25cfce5f6b3c4a19938577d9fe691d79",
      "richText": {
        "markup": "<p>This project showcases how to integrate various type of Blazor components in Umbraco. This enables a simple way of adding interactivity without resorting to javascript frameworks.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>