<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccc265f3-b161-46f8-98e5-f9925379297f" Alias="Root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Root</Path>
    <Trashed>false</Trashed>
    <ContentType>defaultPage</ContentType>
    <CreateDate>2024-03-13T14:28:49</CreateDate>
    <NodeName Default="Root" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1a2a3851-87d4-4077-863e-2be5fe93e49c">DefaultPage</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/713caabcce9b4df6b5c2884a36f8244f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/25cfce5f6b3c4a19938577d9fe691d79",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ed196bd2ecc040419d40ab13635a62f2",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/baeedd66cb2c4edaa9955142fb46e93f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/04263a9bf93e4e8bab0fb1f4ca56b42f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d5ff9dea740a4e8aa36139f18705c705",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f0417dc6-b1ac-47fc-981a-a911fc2ba39d",
      "udi": "umb://element/25cfce5f6b3c4a19938577d9fe691d79",
      "richText": {
        "markup": "<p>This project showcases how to integrate various type of Blazor components in Umbraco. This enables a simple way of adding interactivity without resorting to javascript frameworks.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "5d2d26f9-15b6-455e-a275-3061b6e5da94",
      "udi": "umb://element/713caabcce9b4df6b5c2884a36f8244f",
      "headline": "Blazoraco"
    },
    {
      "contentTypeKey": "f65ed86e-1edf-46d4-8f1b-4a15a6e9693e",
      "udi": "umb://element/ed196bd2ecc040419d40ab13635a62f2"
    },
    {
      "contentTypeKey": "489ae138-b3d8-4abc-9fdd-2da678808c96",
      "udi": "umb://element/baeedd66cb2c4edaa9955142fb46e93f"
    },
    {
      "contentTypeKey": "a4932f7b-2e30-4f15-828e-cf1aaeecc327",
      "udi": "umb://element/04263a9bf93e4e8bab0fb1f4ca56b42f"
    },
    {
      "contentTypeKey": "a4932f7b-2e30-4f15-828e-cf1aaeecc327",
      "udi": "umb://element/d5ff9dea740a4e8aa36139f18705c705"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>