<div style="padding: 20px">
    <h2>Weather forecast (client-side)</h2>
    <p>This component demonstrates loading data async on the client.</p>
    <BlazorWeatherTable Forecasts="forecasts" />
</div>
