<div style="padding: 20px">
    <h2>Weather forecast (server-side)</h2>
    <p>This component demonstrates prerendering data on the server.</p>
    <BlazorWeatherTable Forecasts="forecasts" />
</div>
