<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3413d6fb-0d83-442f-a0ea-b34884be92bc" Alias="Default page - Blocks - Block Grid" Level="1">
  <Info>
    <Name>Default page - Blocks - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "83132c96-233b-4aee-9fd3-3dbe7eae24fb",
      "name": "Demo Blocks"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "38ab4bc1-1a58-4e8a-8b6d-f084c8d909fb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "83132c96-233b-4aee-9fd3-3dbe7eae24fb",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Headline ({{headline | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "53c9eb08-bc1f-4a37-8a6e-27f0049d4c4b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "83132c96-233b-4aee-9fd3-3dbe7eae24fb",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f0417dc6-b1ac-47fc-981a-a911fc2ba39d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "83132c96-233b-4aee-9fd3-3dbe7eae24fb",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "9fade1eb-6e9a-4d58-a452-b666f3f21b03",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "88a6f8df-6314-414e-b53d-f9f9170a70d3",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d7f86dbd-6be1-411b-86f5-b46cd0a750e9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "83132c96-233b-4aee-9fd3-3dbe7eae24fb",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Two Column Layout",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "5d2d26f9-15b6-455e-a275-3061b6e5da94",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>