<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0bc12a04-f15e-4e28-b4f1-12b06acf0a40" Alias="defaultPage" Level="1">
  <Info>
    <Name>Default page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>DefaultPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1a2a3851-87d4-4077-863e-2be5fe93e49c">DefaultPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0bc12a04-f15e-4e28-b4f1-12b06acf0a40" SortOrder="0">defaultPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>acf08626-29b7-4595-adfe-698b352971bf</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>3413d6fb-0d83-442f-a0ea-b34884be92bc</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ae7d4b35-6fa8-4805-84fc-d875a7f3894d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>